{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

              <div class="card-body">
                <form role="form text-left">
                  <label>instagram profile username</label>
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="instagram profile username" aria-label="Instagram Username" aria-describedby="username-addon">
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0">Run /apps/influencer_profile/index.py</button>
                  </div>
                </form>
              </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
